body,
html {
    /* height: 100%; */
    background: lightgray url(../images/tex2res4.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

p {
    padding: 0.5em;
}

#banner {
    background-color: darkorange;
    color: white;
    text-align: center;
    font-size: 2.0em;
}

#instructions {
    /* clear: both;
    float: left; */
    background-color: tan;
    color: green;
    text-align: left;
    font-size: 1.0em;
    /* padding: 0.5em;
    margin: 0.5em; */
}

#scores {
    /* clear: both; */
    /* height: 5em;
    margin: 0.5em; */
}

#gameboard {
    /* clear: both;
    float: left; */
    background-color: lightgreen;
    color: purple;
    text-align: left;
    font-size: 2.0em;
    /* height: 100; */
    /* margin-right: 0.25em; */
}

#scoreboard {
    /* float: left; */
    background-color: lightblue;
    color: darkblue;
    text-align: left;
    font-size: 1.5em;
    /* height: auto; */
}

#crystals {
    /* float: left; */
    margin: 0.5em;
}

.crystalbtn {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
}

#totals {
    /* clear: both; */
    text-align: left;
    font-size: 1.0em;
}

#total,
#totalHdr {
    /* clear: both; */
    /* float: left; */
    font-size: 1.0em;
    background-color: teal;
    color: white;
    /* margin: 0.5em; */
    /* padding: 0.5em; */
}
