body,
html {
    background: lightgray url(../images/tex2res4.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

p {
    padding: 0.5em;
}

#banner {
    background-color: darkorange;
    color: white;
    text-align: center;
    font-size: 2.0em;
}

#instructions {
    background-color: tan;
    color: green;
    text-align: left;
    font-size: 1.0em;
}

#scores {
}

#targetNum {
    background-color: lightgreen;
    color: purple;
    text-align: left;
    font-size: 2.0em;
}

#scoreboard {
    background-color: lightblue;
    color: darkblue;
    text-align: left;
    font-size: 1.5em;
}

#crystals {
    margin: 0.5em;
}

.crystalbtn {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
}

#totals {
    text-align: left;
    font-size: 1.0em;
}

#totalNum,
#totalHdr {
    font-size: 1.0em;
    background-color: teal;
    color: white;
}
